chat.n8n
{
  "name": "chat",
  "nodes": [
    {
      "parameters": {
        "aiAgentStarterCallout": "",
        "promptType": "auto",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "alway follow SKILL.md per user request"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        -80
      ],
      "id": "45b61bbb-8d55-419d-8024-3288697d3847",
      "name": "AI Agent",
      "issues": {}
    },
    {
      "parameters": {
        "public": false,
        "availableInChat": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        -112
      ],
      "id": "5261323d-f224-47b3-8c33-707370bfc4eb",
      "name": "When chat message received",
      "webhookId": "bc744ff3-a517-43c5-8625-53786ad5f4ab"
    },
    {
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenCodeCli",
      "typeVersion": 1,
      "position": [
        48,
        128
      ],
      "id": "1aa22cb3-5943-4c4a-a67f-3c69df2bef41",
      "name": "OpenCode CLI Chat Model",
      "disabled": false,
      "parameters": {
        "notice": "",
        "model": "auto",
        "options": {
          "workingDirectory": "={{ $workspace.__dirPath }}"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode CLI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false
  },
  "pinData": {}
}