opencode.n8n
{
  "name": "opencode",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "- alway follow SKILL.md per user request\n- response should be under 300 words"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        -48
      ],
      "id": "862ea95d-bf97-4150-86cf-8c24a0559f47",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput-from-telegram",
              "name": "chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "sessionId-from-telegram",
              "name": "sessionId",
              "value": "={{ 'telegram_' + $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -48
      ],
      "id": "2bafeb21-eb3c-4503-8ba6-6a44efb6e87a",
      "name": "Set chatInput from Telegram"
    },
    {
      "parameters": {
        "options": {
          "workingDirectory": "={{ $workspace.__dirPath }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenCodeCli",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "3c9f7fef-d9b7-4289-9e36-48e8df65ec0e",
      "name": "OpenCode CLI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Polling Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -48
      ],
      "id": "4efaa530-7384-4f47-b497-3c64efb36cf4",
      "name": "Telegram Send Message",
      "webhookId": "2111e479-d350-47ca-ba44-08814d4aa0d4",
      "credentials": {
        "telegramApi": {
          "id": "pp5mK0fF7BObC0vz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        160
      ],
      "id": "aa2e9b51-34ae-4871-88f8-84dc791da4ab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramPollingTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "865994ac-fa30-406b-ab64-b5bdddd43863",
      "name": "Telegram Polling Trigger",
      "credentials": {
        "telegramApi": {
          "id": "pp5mK0fF7BObC0vz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set chatInput from Telegram": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode CLI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Polling Trigger": {
      "main": [
        [
          {
            "node": "Set chatInput from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false
  },
  "pinData": {}
}