openclaw.n8n
{
  "name": "openclaw",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        -368
      ],
      "id": "7bbdf5dd-3724-4c9a-8805-a2bb9f808ece",
      "name": "Chat Trigger",
      "webhookId": "0f4d9f88-6e24-4525-aad1-7e2bb08b73a6"
    },
    {
      "parameters": {
        "message": "={{ $json.chatInput }}",
        "thinking": "off",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openClawAgent",
      "typeVersion": 2,
      "position": [
        96,
        -384
      ],
      "id": "df8ecf50-17ef-49f7-aaed-9e4f8f3e4ecc",
      "name": "OpenClaw AI Agent"
    },
    {
      "parameters": {
        "allowFrom": "={{ $vars.TelegramId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.openClawTelegramChannel",
      "typeVersion": 1,
      "position": [
        -48,
        -192
      ],
      "id": "aef2c363-27b8-4f64-8b7e-dfca94794995",
      "name": "n8n atom bot",
      "credentials": {
        "telegramApi": {
          "id": "pp5mK0fF7BObC0vz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "auto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChat9Router",
      "typeVersion": 1,
      "position": [
        96,
        -176
      ],
      "id": "0995c785-790e-4001-90cc-f3ddc9f99cda",
      "name": "9Router Chat Model",
      "credentials": {
        "nineRouterApi": {
          "id": "lBC8nPlRVBg4hMsM",
          "name": "9Router account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openClawMcpServer",
      "typeVersion": 1,
      "position": [
        448,
        -176
      ],
      "id": "5951d2bb-a23e-4c98-acd5-bc0760daf22c",
      "name": "BrowserOS MCP Server"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.openClawPlugin",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "id": "2b133e2a-4e8a-4ce4-b329-77fc75c9daa2",
      "name": "n8n Harness Plugin"
    }
  ],
  "connections": {
    "n8n atom bot": {
      "ai_channel": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_channel",
            "index": 0
          }
        ]
      ]
    },
    "9Router Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrowserOS MCP Server": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "n8n Harness Plugin": {
      "ai_tool": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false
  },
  "pinData": {}
}