openclaw.n8n
{
  "name": "openclaw",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "availableInChat": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -192,
        -320
      ],
      "id": "7bbdf5dd-3724-4c9a-8805-a2bb9f808ece",
      "name": "Chat Trigger",
      "webhookId": "0f4d9f88-6e24-4525-aad1-7e2bb08b73a6"
    },
    {
      "parameters": {
        "openClawNotice": "",
        "message": "={{ $json.chatInput }}",
        "selectorType": "agent",
        "agentId": "main",
        "thinking": "off",
        "local": false,
        "deliver": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openClawAgent",
      "typeVersion": 2,
      "position": [
        96,
        -384
      ],
      "id": "df8ecf50-17ef-49f7-aaed-9e4f8f3e4ecc",
      "name": "OpenClaw AI Agent"
    },
    {
      "parameters": {
        "telegramNotice": "",
        "accountId": "",
        "dmPolicy": "pairing",
        "groupPolicy": "allowlist"
      },
      "type": "@n8n/n8n-nodes-langchain.openClawTelegramChannel",
      "typeVersion": 1,
      "position": [
        64,
        -176
      ],
      "id": "aef2c363-27b8-4f64-8b7e-dfca94794995",
      "name": "n8n atom bot",
      "credentials": {
        "telegramApi": {
          "id": "pp5mK0fF7BObC0vz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": "auto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChat9Router",
      "typeVersion": 1,
      "position": [
        320,
        -192
      ],
      "id": "0995c785-790e-4001-90cc-f3ddc9f99cda",
      "name": "9Router Chat Model",
      "credentials": {
        "nineRouterApi": {
          "id": "lBC8nPlRVBg4hMsM",
          "name": "9Router account"
        }
      }
    }
  ],
  "connections": {
    "n8n atom bot": {
      "ai_channel": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_channel",
            "index": 0
          }
        ]
      ]
    },
    "9Router Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false
  },
  "pinData": {}
}