openclaw.n8n
{
  "name": "openclaw",
  "nodes": [
    {
      "parameters": {
        "public": false,
        "availableInChat": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -352
      ],
      "id": "5261323d-f224-47b3-8c33-707370bfc4eb",
      "name": "When chat message received",
      "webhookId": "bc744ff3-a517-43c5-8625-53786ad5f4ab"
    },
    {
      "parameters": {
        "notice": "",
        "noticeTemplateExample": "",
        "description": "",
        "language": "javaScript",
        "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn query.toUpperCase()",
        "specifyInputSchema": false
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        400,
        160
      ],
      "id": "6de0d713-2a38-49e9-ba6c-24f568830f29",
      "name": "Code Tool1"
    },
    {
      "parameters": {
        "openClawNotice": "",
        "message": "={{ $json.chatInput || $json.chat_input || $json.message || $json.text || \"\" }}",
        "selectorType": "agent",
        "agentId": "main",
        "model": "openai-codex/gpt-5.5",
        "thinking": "off",
        "local": false,
        "deliver": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openClawAgent",
      "typeVersion": 2,
      "position": [
        80,
        -384
      ],
      "id": "df8ecf50-17ef-49f7-aaed-9e4f8f3e4ecc",
      "name": "OpenClaw AI Agent"
    },
    {
      "parameters": {
        "telegramNotice": "",
        "accountId": "",
        "dmPolicy": "pairing",
        "groupPolicy": "allowlist"
      },
      "type": "@n8n/n8n-nodes-langchain.openClawTelegramChannel",
      "typeVersion": 1,
      "position": [
        80,
        -208
      ],
      "id": "aef2c363-27b8-4f64-8b7e-dfca94794995",
      "name": "n8n atom bot",
      "credentials": {
        "telegramApi": {
          "id": "pp5mK0fF7BObC0vz",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool1": {
      "ai_tool": [
        []
      ]
    },
    "n8n atom bot": {
      "ai_channel": [
        [
          {
            "node": "OpenClaw AI Agent",
            "type": "ai_channel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false
  },
  "pinData": {}
}